= turbo_frame_tag dom_id(faq) do
  .columns.row
    .column.is-2= faq.title
    .column.has-text-justified= faq.content.to_plain_text
    .column.is-1= faq.structure
    .column.is-2= faq.category_list
    .column.is-1.has-text-centered= fas_icon('check', span_style: 'has-text-success-dark') if faq.approve?
    .column.is-1.has-text-centered= fas_icon('check', span_style: 'has-text-success-dark') if faq.active?
    .column.is-1-desktop.is-2-tablet.is-vcentered.is-paddingless
      .buttons.has-addons.is-right.is-flex-wrap-nowrap
        = link_to fas_icon('search-plus'), faq_path(id: faq.id, filter: {view: :modal}), class: 'button is-borderless has-background-trasparent tooltip ', data: { tooltip: t('show', scope: 'faq', default: 'Show faq'), turbo_frame: 'modal' }
        = link_to fas_icon('edit'), edit_faq_path(id: faq.id), disabled: cannot?(:edit, faq), class: "button is-borderless has-background-trasparent tooltip #{ 'disabled' if cannot?(:edit, faq) }", data: { tooltip: t('edit', scope: 'faq', default: 'Edit faq'), turbo_frame: 'yield' }
        = link_to fas_icon('trash'), faq_path(id: faq.id), method: :delete, disabled: cannot?(:delete, faq), class: "button is-borderless has-background-trasparent tooltip #{ 'disabled' if cannot?(:delete, faq) }", data: { tooltip: t('delete', scope: 'faq', default: 'Delete faq'), turbo_frame: dom_id(faq), turbo_method: 'DELETE', confirm: t('destroy', scope: 'faq.confirmations', default: 'Destroy faq from system?') }